.page-title {
	display:flex;
	justify-content: space-between;
	align-items: start;
}
.page-title .left {
	display: flex;
}

#listTable span.label.V {
	background-color: #a9daff;
}

#listTable span.label.A {
	background-color: #ffe54f;
}

.excel {
	display: block;
	background-color: #70ba7b;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}
