.actions {
	display: block;
	height: 70px;
	padding: 20px 0;
}

.answer-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.answer-group label {
	width: 2rem;
	line-height: 37px;
}

.answer-group input.form-check-input {
	width: 2rem;
}
