# Created by .ignore support plugin (hsz.mobi)
.idea/
upload/
vendor/
assets/__MACOSX/
assets/plugins/
current.log
include/config/DBSettings.php

!assets/plugins/jquery-3.0.0.min.js
!assets/plugins/bootstrap4/*
